* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {

    height: 5378px;
}
.wrap{
    width: 1600px;
    margin: 0 auto;
}
.linkButton{
    width: 160px;
    border: 1px solid #00e0d0;
    color:  #00e0d0;
    margin: 52px auto;
    font-size: 16px;
    text-align: center;
    font-family: Hammersmith One ;

}

header {
    height: 671px;
    background: url("images/put-your-image-here.png") no-repeat #403168;
}
.fond{
    height: inherit;
    background-color: rgba(76, 61, 114, 0.8);
}

h1{
    text-align: center;
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.32px;
    font-style: normal;
    font-family: Playfair Display - Black;
}
header .separator{
    background-color: #00e0d0 ;
}

h4{
    margin-top: 55px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    font-family: Roboto;
}
#logo{
    margin-left: 235px;
}
#logo .tajam{
    margin-top: 25px;
    float: left;
}
#logo .image {
    display: block;
    background-image: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
}
#logo .name{
    margin-top: 25px;
    margin-left: 15px;
    width: 73px;
    height: 29px;
    color: #4AA3CC;
    font-family: "Roboto - Thin";
    font-size: 30px;
    font-weight: 400;
    float: left;
}

.contentButton a {
    display: inline-block;
    padding: 13px 15px;
}

.contentButton:hover {
    background-color: #00e0d0;
    color: #ffffff;
}

.navigation{
    float: right;
    margin-top: 30px;
    margin-right: 157px;
    padding: 5px;
}
.navigation li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}
.navigation a{
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto Black;
}
.navigation a:hover{
    color: #00E0D0;
}
.clearfix{
    clear: both;
}
.curPosition{
    width: 65px;
    height: 10px;
    margin:  127px auto;
}
.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 50%;
}
.dot:hover{
    background: #00E0D0;
}
.about{
    padding-left: 320px;
    height: 400px;
}

.aboutImage{
width: 245px;
    float: left;
    margin-top: 70px;
}
.aboutText{
    float: left;
    margin-left: 175px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.about p{
    font-size: 18px;
}
.about .p1{
    font-size: 22px;
    font-weight: 700;
}
.about .p2{
    margin-top: 20px;
}

.about .contentButton {
    margin-left: 415px;
    clear: both;

}
.video{
height: 550px;
    background: url("images/town.png") no-repeat #403168;
    position: relative;
}
.play{
    position: absolute;
    left: 720px;
    top: 200px;
    width: 156px;
    height: 146px;
}
.playIcon{
    margin: 0 auto 25px;
    border:  3px solid #ffffff;
    border-radius: 50%;
    width: 100px;
    height: 100px;

}
.playIcon a{
    display: block;
    margin: 25px 35px;
}
.play span{
   color : white;
    font-size: 16px;
}
.expertise{
    height: 757px;
    background: #ffffff;
}
.separator{
    width: 50px;
    height: 2px;
    margin: 20px auto;
    background-color: #413d4b;
    opacity: 0.3;
}
.head{
    width: 480px;
    margin: 70px auto;
}
.head p{
    text-align: center;
}
p.title {
    font-size: 22px;
    font-family: Playfair Display;
    letter-spacing: 1.1px;

}
p.subTitle{
    font-size: 16px;
    letter-spacing: 1.05px;
    text-align: center;
}
.items{
    margin: 0 auto;
    width: 1250px;
    height: inherit;
    color: white;
}
.items .itemsLevel{
    width: 1090px;
    margin: auto;
}

.items .itemBox{
    width: 255px;
    height: 178px;
    float: left;
    padding: 50px;
    border-right: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;

}
.itemBox:nth-child(3n){
    border-right: 0px;
}
.bottomItems .itemBox{
    border-bottom: 0px;
}

.items .p1{
    text-align: center;
    margin-top: 15px;
    color: #0D0C13;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.7px;

}
.items .p2{
    text-align: center;
    margin-top: 15px;
    font-family: Roboto;
    line-height: 22px;
    font-size: 15px;
    color: #333333;
    opacity: 0.75;

}
.itemImage{
    width: 50px;
    height: 50px;
    margin: auto;
}
.team {
    height: 713px;
    background: url("images/teamBackground.png") no-repeat #403168;
}
.teamHead{
    width: 430px;
    padding-top: 70px;
    margin: auto;
    text-align: center;
    color: white;
}
.team .separator{
background-color: white;
}
.team .items{
    height: 370px;
    padding-top: 20px;
}
.team .itemBox{
    position: relative;
    width: 220px;
    height: 320px;
    padding: 0;
    border: 1px solid white;
    margin-left: 73px;
}
.foto{
    height: 234px;
    background: white;
}

.team .nameInfo{
    height: 85px;
    width: inherit;
    border-top: 1px solid #CBCBCB;
    position: absolute;
    bottom: 0;
}
 p.name{
    color: white;
    font-size: 20px;
    font-family: Roboto ;
    text-align: center;
    margin: 10px;
}
 p.position{
    color: white;
    font-size: 12px;
    font-family: Roboto;
    text-align: center;
    opacity: 0.7;
}
 .team  p.subTitle{
    color: white;
}
 .works{
     margin-top: 70px;
     margin-bottom: 70px;
 }
 .worksTitle{
     margin-bottom: 70px;
     height: 45px;
 }
 .works .p1{
     width: 170px;
     margin-left: 243px;
     float: left;
     font-size: 22px;
     font-family: "Playfair Display";
     font-weight: 700;
 }
 .works .seeProject{
     float: right;
     width: 225px;
     margin-right: 228px;
 }
 .seeProject .p2{
     float: left;
     margin-right: 15px;
     font-family: Roboto;
     letter-spacing: 0.7px;

 }
.works .seeProject image{
    float: right;
}
.projectItems .item{
    width: 269px;
    height: 200px;
    display: inline-block;
    margin: -3px;
}
.c1{
    background: #b6b6b6 ;
}
.c2{
    background: #acacac ;
}
.c3{
    background: #a1a1a1 ;
}
.c4{
    background: #8a8a8a ;
}
.testimonials{
    height: 500px;
    background: url("images/testimony.png");
}

p.quote{
    width: 850px;
    margin: 50px auto;
    text-align: center;
    padding-top: 43px;
    color: white;

}
p.quote:before {
    color: white;
    content: "\201C";
    font-size: 100px;
    text-align: center;
    display: block;
}
.pics{
    width: 450px;
    margin: 45px auto;
    text-align: center;
}
.pics img{
    display: inline-block;
    padding-left: 14px;
}
.contact{
    margin-top: 66px;
}
.form{
    width: 530px;
    border: 1px solid red;
    margin-left: 255px;
    float: left;
}
.userForm{
    width: 463px;
    height: 10px;
    margin-bottom: 25px;
    padding: 20px;
    font-family: Roboto;
    font-size: 17px;
    border: 1px solid #000000;
    opacity: 0.3;
}
p.pForm{
    margin-bottom: 35px;
    color: #413d4b;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.1px;
}
textarea.userForm {
    height: 195px;
    overflow: hidden;
}
.contact .linkButton{
    margin: 0;
}
.clients{
    float: right;
}